html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  color: yellow;
  background-color: black;
  overflow: hidden;
}

.backgr {
  background-color: black;
  width: 100%;
  height: 100%;
}
.box {
  position: fixed;
  width: 90%;
  height: 90%;
  background-image: url('Intro-Page2.gif');

  background-size: 100% 100%;
}
.flower {
  margin-top: 300px;
  margin-left: 25%;
  height: 40%;
  width: 40%;
}
.experience {
  margin-top: 0px;
}
.pagetwoflower {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-left: 200px;
}
.lastflower {
  position: absolute;
  left: 500px;
  top: 250px;
}

.leftvid {
  height: 200px;
}
audio {
  margin-top: 20%;
  margin-left: 40%;
}
.page2bg {
  height: 100%;
  width: 100%;
}

.animation1 {
  height: 100%;
  width: 100%;

  background-image: url('WebPage2.gif');
  /* animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;*/
}
.fadeout {
  animation: fadeOut ease 20s;
  -webkit-animation: fadeOut ease 20s;
  -moz-animation: fadeOut ease 20s;
  -o-animation: fadeOut ease 20s;
  -ms-animation: fadeOut ease 20s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.please {
  width: 400px;
  height: 320px;
  background: url(test.gif);
  background-repeat: no-repeat;

  /* The points are: centered top, left bottom, right bottom */
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 90%;

  object-fit: cover;
}

.top {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
}

​ .div1 {
  position: relative;
  animation: example 20s infinite;
}
.div2 {
  margin-left: 50%;

  position: relative;
  animation: example2 20s infinite;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example2 {
  0% {
    left: 100px;
    top: 200px;
  }
  25% {
    left: 100px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 200px;
    top: 200px;
  }
}

.flower {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 375px) and (max-width: 812px) {
  /* STYLES GO HERE */
  .box {
    background-image: url('mobilePage1_animation_transparant.gif') !important;
    width: 100%;
    height: 100%;
  }
  .flower {
    margin-left: 0%;
    height: 50%;
    width: 100%;
  }
  .flowertwo {
    height: 500px;
  }
  .fire {
    margin-left: 10%;
    margin-top: 0%;
  }
  .topdiv {
    margin-left: 10%;
    margin-top: 0%;
  }
  .leftvid {
    margin-left: 10%;
  }
  .rightvid {
    float: none;
    margin-left: 10%;
  }
  video {
    width: 250px;
  }
  audio {
    margin-top: 90%;
    margin-left: 10%;
  }
}
