html,
body {
  margin: 0px;
  height: 100%;
  background-color: black;
  color: antiquewhite;
  overflow: hidden;
}

.animation1 {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
.fadeout {
  animation: fadeOut ease 20s;
  -webkit-animation: fadeOut ease 20s;
  -moz-animation: fadeOut ease 20s;
  -o-animation: fadeOut ease 20s;
  -ms-animation: fadeOut ease 20s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box {
  background-image: url('Intro-Page2.gif');

  height: 100%;
}
.flowertwo {
  width: 50%;
  margin-left: 40%;
  margin-top: 20%;
}
.flower {
  width: 50%;
  margin-left: 40%;
  margin-top: 20%;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

video {
  width: 30%;
  height: 30%;
}
.div1 {
  position: relative;
  animation: example 20s infinite;
}
.div2 {
  margin-left: 50%;

  position: relative;
  animation: example2 20s infinite;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example2 {
  0% {
    left: 100px;
    top: 200px;
  }
  25% {
    left: 100px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 200px;
    top: 200px;
  }
}

.flower {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
