html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  color: yellow;
  background-color: black;
  overflow: hidden;
  font-family: silom;
}
.clickme {
  background-color: cyan;
  height: 250px;
}
.front {
  width: 100%;
  height: 100%;
  background-image: url('Web-page3.2.gif');

  background-size: 100% 100%;
}
.mobilehead {
  height: 11%;
  width: 40%;
}

.square {
  width: 250px;
  display: inline;
  margin-left: 7%;
  animation: shake 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.rbutton-mobile {
  visibility: hidden;
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  90% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.moblieonly {
  visibility: hidden;
  height: 0%;
  width: 0%;
}
.moblieimg {
  width: 400px;
}

.backgr {
  background-color: black;
  width: 100%;
  height: 100%;
}
.rbutton {
  text-align: center;
  margin-left: 10%;
  padding-top: 20px;
  height: 50px;
  width: 100px;
  display: inline-grid;
}
.box {
  position: fixed;
  width: 90%;
  height: 90%;
  background-image: url('Intro-Page2.gif');

  background-size: 100% 100%;
}
.flower {
  margin-top: 300px;
  margin-left: 29%;
  height: 40%;
  width: 40%;
}
.hon {
  margin-left: 15%;
  margin-top: 12px;
  animation: shake 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.experience {
  margin-top: 0px;
  margin-left: 16%;
}
.pagetwoflower {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-left: 200px;
}

.lastflower {
  width: 9rem;
  position: absolute;
  left: 49%;
  top: 40%;
}

.leftvid {
  height: 200px;
  width: 20%;
}
audio {
  margin-top: 20%;
  margin-left: 40%;
}
.page2bg {
  height: 100%;
  width: 100%;
}

.animation1 {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('Web_Page2.gif');
  background-size: 100% 100%;
  background-position: right 100px;
}
.fadeout {
  animation: fadeOut ease 20s;
  -webkit-animation: fadeOut ease 20s;
  -moz-animation: fadeOut ease 20s;
  -o-animation: fadeOut ease 20s;
  -ms-animation: fadeOut ease 20s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.please {
  margin-left: 12%;
  width: 300px;
  height: 200px;

  /* The points are: centered top, left bottom, right bottom */
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  animation: shake 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.int {
  margin-left: 16%;
  animation: shake 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.circle {
  width: 190px;
  height: 170px;
  border-radius: 90%;
  margin-left: 15%;
  object-fit: unset;

  animation: shake 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.top {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
}

​ .div1 {
  position: relative;
  animation: example 20s infinite;
}
.div2 {
  margin-left: 50%;

  position: relative;
  animation: example2 20s infinite;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example2 {
  0% {
    left: 100px;
    top: 200px;
  }
  25% {
    left: 100px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 200px;
    top: 200px;
  }
}

.flower {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Mobile */
@media only screen and (min-width: 280px) and (max-width: 700px) {
  /* STYLES GO HERE */

  html,
  body {
    color: black;
    background-color: white;
  }
  .front {
    background-image: url('mobilePage3.2.gif');
  }
  .mobileheader {
    display: inline-flex;
    margin-top: 20px;
  }
  .moblieonly {
    visibility: visible;
    background-image: url('mobile1Idea2_text.gif');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }
  .circledance {
    margin-left: 5%;
  }
  .mobilebutton {
    display: absolute;
    background-color: lawngreen;
    height: 50px;
    width: 50px;
  }

  .box {
    background-image: url('mobilePage1_animation_transparant.gif') !important;
    width: 100%;
    height: 100%;
  }
  .flower {
    margin-left: 0%;
    height: 50%;
    width: 100%;
  }
  .flowertwo {
    margin-left: 5%;
    height: 200px;
  }
  .fire {
    margin-left: 10%;
    margin-top: 0%;
  }
  .topdiv {
    margin-left: 10%;
    margin-top: 0%;
  }
  .leftvid {
    margin-left: 10%;
  }
  .rightvid {
    float: none;
    margin-left: 10%;
  }
  video {
    width: 250px;
  }
  audio {
    margin-top: 50%;
    margin-left: 18%;
  }
  .animation1 {
    background-image: url('mobilePage2.gif');
  }
  .topdiv {
    margin-left: 0%;
  }
  .circle {
    width: 100px;
    height: 100px;
    animation: none;
    margin-left: 0%;
    object-fit: cover;
  }
  .square {
    width: 120px;
    display: inline;
    margin-left: 7%;
    animation: none;
  }
  .leftvid {
    height: 100px;
    width: 50%;
    margin-left: 16%;
  }
  .please {
    animation: none;
    margin-left: 0%;
    width: 100px;
    height: 86px;
    background: url(test.gif);
    background-repeat: no-repeat;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }
  .lastflower {
    width: 100px;
    left: 150px;
    top: 500px;
  }

  .int {
    margin-top: 0px;
    display: inherit;
    margin-left: 0%;
  }
  .experience {
    margin-left: 0%;
  }
  .hon {
    margin-top: 0px;
    margin-left: 0%;
  }
  .pageonebut {
    margin-top: 500px;
    width: 66px;
    height: 56px;
    margin-left: 40%;
  }
  .mobilehead {
    width: 100%;
  }
  .mobiletri {
    margin-left: 7%;
  }
  .rbutton-mobile {
    visibility: visible;
    float: none;
    margin-left: 35%;
    height: 36px;
    width: 116px;
  }
  .rbutton {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1025px) {
  .lastflower {
    top: 25%;
    left: 50%;
  }
  .flower {
    margin-left: 2%;
  }
  .mobilehead {
    height: 8%;
    width: 46%;
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1224px) {
  .lastflower {
    top: 28%;
    left: 43%;
  }
  .animation1 {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url('Web_Page2.gif');
    background-size: 60% 60%;
    background-position: right 100px;
    background-repeat: no-repeat;
  }
  .flower {
    margin-left: 15%;
  }
  .box {
    height: 100%;
  }
  .mobilehead {
    height: 14%;
    width: 44%;
  }
}
@media only screen and (min-width: 1224px) and (max-width: 1500px) {
  .flower {
    height: 11%;
    margin-left: 20%;
  }
  .lastflower {
    left: 50%;
  }
  .mobilehead {
    height: 12%;
    width: 42%;
  }
}
